# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.egg
*.egg-info/
pip-log.txt

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VSCode 编辑器配置
.vscode/
.history/

# Log 文件
*.log

